// Resources
process {
    withLabel: 'fastqc' { cpus = 2; memory = 2.GB }
    withLabel: 'alignment' { cpus = 4; memory = 4.GB }
    withLabel: 'GGenerate' { cpus = 4; memory = 4.GB }
    withLabel: 'align' { cpus = 4; memory = 4.GB }
    withLabel: 'report' { cpus = 1; memory = 1.GB }
}

// Profile
profiles {
  standard {
      resume = true
 }
}

// Docker container
docker.enabled = true
process.container = "rnaseq"

// Params
params.outdir = "/workspace/tigem-training/rnaseq/result"

// Pipeline report
report {
  enabled = true
  file = "${params.outdir}/execution/report.html"
}
